* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.form-table {
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.form-table tr td {
  padding: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 4px 5px;
}

.pk-btn {
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.pk-btn:hover {
  opacity: 0.9;
}

.primary-btn {
  background-color: #7eb73d;
  color: white;
}

.right-text {
  text-align: right;
}

.float-right {
  float: right;
}

.center-text {
  text-align: center;
}
