@import 'src/assets/scss/constants';
header {
  box-shadow: $box-shadow;
  position: fixed;
  width: 100vw;
  height: $header-height;
  background-color: #f5f5f5;
  line-height: $header-height;
  color: $light-black;  
  padding: 0 20px;
  .title {
    margin: 0;
    float: left;
    font-size: $logo-height - 10px;
    font-weight: normal;
    .logo {
      vertical-align: middle;
      margin-top: -10px;
      height: $logo-height;
    }
  }
}

#container {
  background-color: #f5f5f5;
  padding-bottom: $footer-height;
  padding-top: $header-height;
}

#nav-container {  
  background-color: white;
  position: fixed;
  width: 100%;
}

#page-container {
  padding: 50px 10px 20px 10px;
  min-height: 50vh;
  overflow: auto;
}

.parent-menu {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    position: relative;
    a {
      display: inline-block;
      text-decoration: none;
      color: $dark-black;
      transition: all 0.2s;
      box-sizing: content-box;
      &.active,
      &:hover {
        //background-color: $primary-color;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
      .fa {
        font-size: 18px;
        padding: 10px;
      }
    }
  }
  .child-menu {
    box-shadow: $box-shadow;
    padding: 0;
    position: absolute;
    min-width: 100%;
    li {
      display: block;
      a {
        display: block;  
        background-color: white;      
        &.active,
        &:hover {
          border-bottom: none;
          border-left: 2px solid $primary-color;
        }
      }
    }
  }
}

footer {
  min-height: $footer-height;
  margin-top: -$footer-height;
  background-color: $dark-black;
  color: $light-black;
  padding: 10px;
  text-align: center;

  .footer-top-link{
    li{
      display: inline-block;
      a{
        color: $light-black;
        padding: 0px 10px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
