<header>
  <h1 class="title">
    <img src="/assets/images/logo.ico" class="logo"> Project K Title
  </h1>
  <label class="float-right">Welcome {{getUserDetails() ? (getUserDetails().firstName + ', ' + getUserDetails().lastName) : ''}}</label>
</header>
<section (click)="closeDropDowns($event)">
  <div id="container">
    <div id="nav-container">
      <nav>
        <ul class="parent-menu">
          <li *ngFor="let menuItem of menuItems" (click)="showHideChilds(menuItem, $event)">
            <a>
              <i [ngClass]="[menuItem.icon]"></i>
              <span>{{menuItem.name}}</span>
              <i class="fa fa-angle-down pull-right animated flipInX" *ngIf="menuItem.children.length !== 0 && menuItem.hideChildren"></i>
              <i class="fa fa-angle-up pull-right animated flipInX" *ngIf="menuItem.children.length !== 0 && !menuItem.hideChildren"></i>
              <i class="fa" *ngIf="menuItem.children.length === 0"></i>
            </a>
            <ul class="child-menu" *ngIf="menuItem.children.length !== 0 && !menuItem.hideChildren">
              <li *ngFor="let childMenu of menuItem.children">
                <a routerLink="{{menuItem.route+childMenu.route}}">
                  <i [ngClass]="[childMenu.icon]"></i>
                  <span>{{childMenu.name}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div id="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<footer>
  <ul class="footer-top-link">
    <li>
      <a>Help</a>
    </li>
    <li>
      <a>Feedback</a>
    </li>
  </ul>
  Copyright 1999-2017 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
</footer>