<form [formGroup]="loginForm" (ngSubmit)="login()">
  <table class="form-table">
    <tr>
      <th>Login</th>
    </tr>
    <tr>
      <td>
        <label>Email:</label>
        <input formControlName="email" type="text" placeholder="Email">
      </td>
    </tr>
    <tr>
      <td>
        <label>Password:</label>
        <input formControlName="password" type="password" placeholder="Password">
      </td>
    </tr>
    <tr>
      <td class="center-text">
        <button class="pk-btn secondary-btn" type="reset">Clear</button>
        <button class="pk-btn primary-btn" type="submit">Sign in</button>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="center-text">
        <a href="/projectk/signup">Don't have an account? Sign up</a>
      </td>
    </tr>
  </table>
</form>