<form [formGroup]="signupForm" (ngSubmit)="signUp()">
  <table class="form-table">
    <tr>
      <td>Email</td>
      <td>
        <input formControlName="loginId" type="text" placeholder="Email">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input formControlName="password" type="password" placeholder="Password">
      </td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td>
        <input formControlName="newPassword" type="password" placeholder="Confirm Password">
      </td>
    </tr>    
    <tr>
      <td>
        <td colspan="2" class="right-text">
          <button class="pk-btn secondary-btn" type="reset">Clear</button>
          <button class="pk-btn primary-btn" type="submit">Sign in</button>
        </td>
    </tr>
    <tr>
      <td colspan="2" class="center-text">
        <a href="/projectk/login">Already have an account? Sign in</a>
      </td>
    </tr>
  </table>
</form>