<form [formGroup]="clientCreateForm" (ngSubmit)="createClient()">
  <table class="form-table">
    <tr>
      <td>
        <label>Name:</label>
        <input formControlName="clientName" type="text" placeholder="Name">
      </td>
      <td>
        <label>Email:</label>
        <input formControlName="email" type="text" placeholder="Email">
      </td>
    </tr>
    <tr>
      <td>
        <label>Mobile:</label>
        <input formControlName="mobileno" type="text" placeholder="Mobile">
      </td>
      <td>
        <label>Branding:</label>
        <input formControlName="branding" type="text" placeholder="Branding">
      </td>
    </tr>
    <tr>
      <td>
        <label>Latitude:</label>
        <input formControlName="latitude" type="text" placeholder="Latitude">
      </td>
      <td>
        <label>Longitude:</label>
        <input formControlName="longitude" type="text" placeholder="Longitude">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>Logo:</label>
        <input formControlName="clntLogo" type="text" placeholder="Logo">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>Address:</label>
        <textarea formControlName="address" rows="5" type="text" placeholder="Address"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="right-text">
        <button class="pk-btn secondary-btn" type="reset">Clear</button>
        <button class="pk-btn primary-btn" type="submit">Create</button>
      </td>
    </tr>
  </table>
</form>